<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Connexion</title>
	</head>
	<body>
		<h1>Connexion</h1>
		<form method="post" action="#">
			<p>Adresse email:
				<input type="text" name="email">
				Mot de passe:
				<input type="text" name="password">
                <button type="submit">Se connecter</button>
			</p>
		</form>
	
		<a>Pas encore inscrit?</a>
			<br>
			<br>
		<a href="http://localhost:3000/user/signup">Inscrivez-vous ici</a>
	
	</body>
</html>
